main{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
canvas{
  width: 100%;
  max-width: 80vh;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px;
  image-rendering:pixelated;
}
