body{
    background-color: black;
    color: white;
}
header{
    text-align: center;
}
main{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
canvas{
  border-style: double;
  border-width: thick;
  border: 10px solid white;
  width: 100%;
  max-width: 80vh;
  border-radius: 10px 10px;
  box-shadow: 1px 1px 10px;
  image-rendering:pixelated;
}
